.close-btn{
  position              : absolute;
  right                 : 5px;
  top                   : 5px;
  z-index               : 10;
  --background          : transparent;
  --background-focused  : transparent;
  --background-activated: transparent;
  --box-shadow          : none;

  ion-icon{
    color    : #808383;
    font-size: 33px;
  }
}

ion-modal{
  --height: 200px;
}
