// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'assets/sass/main.scss';

.modal-wrapper, #modalMsg{
  height: 200px;
  --height: 200px;
}
.modal-wrapper.sc-ion-modal-md {
  --height: 200px;
}

.sc-ion-modal-md-h {
  @media only screen and (min-height: 600px) and (min-width: 768px){
    --height: 200px;
  }
}
